<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>
<body>
    <div id="header_main">
        <div id="header_heading">
           <a href="/" style="text-decoration:none"> <h1>Insta book</h1></a>
        </div>
        <div id="header_user">
            <h3>
                <%if(user){%>
                    <a href="/users/profile/<%=user._id%>" style="text-decoration:none"><%=user.name%></a>
                    <span>|</span>
                    <a href="/users/signout" style="text-decoration:none">Sign Out</a>
                    
                <%}else{%>
                    <a href="/users/signin" style="text-decoration:none">Sign in</a>
                    <span>|</span>
                    <a href="/users/signup" style="text-decoration:none">Sign up</a>
                <%}%>
            </h3>
        </div>
    </div>
</body>
</html>