<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/signin_pas.css">
</head>
<body>
   <form action="/users/signin_pagehere" method="post">
    <input type="text" name="email" placeholder="Enter the email" required>
    <input type="password" name="password" placeholder="Enter the password" required>
    <button id="signin--" type="submit"> sign in</button>
   </form>
   <script src="/js/signinjs.js"></script>
</body>
</html>